<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Notícia</h1>

<table> 
<tr>   
    <td>ID</td> 
    <td>Título</td> 
    <td>Notícia</td>
</tr>
<% for (var i=0; i<noticias.length; i++) {%> <!---Programação em javascript, com a finalidade de exibir conteúdos presentes no nosso banco de dados-->
<tr>
    <td><%=noticias[i].id_noticia %></td> <!--Importação do ID da notícia, diretamente do nosso banco de dados-->
    <td><%=noticias[i].titulo %></td> <!--Igualmente, mas dessa vez estamos importando o título-->
    <td><%=noticias[i].noticia %></td> <!--Igualmente, mas dessa vez estamos importando o conteúdo da notícia-->
</tr>
<% } %> <!---programação em javascript-->

</table>
</body>
</html> 